<div class="session-item content-border">
    <div class="session-item__row">
        <div class="session-item__item">
            <div class="session-item__sub-title">
                {{ 'Host' }}:
            </div>

            <app-user-photo
                    [photoUrl]="session.creator.photoUrl"
                    [name]="session.creator.name"
                    size="35"
            ></app-user-photo>
        </div>

        <div class="session-item__item">
            <div class="session-item__sub-title">
                {{ 'Created' }}:
            </div>

            <div class="session-item__value">
                {{ session.created | date:'HH:mm (dd LLLL)' }}
            </div>
        </div>

        <div class="session-item__item" *ngIf="session.gameMode === 'multiplayer'">
            <div class="session-item__sub-title">
                {{ 'Players quantity' }}:
            </div>

            <div class="session-item__value">
                {{ session.playerIds.length }}<span *ngIf="session.maxParticipants">/{{session.maxParticipants}}</span>
            </div>
        </div>
    </div>

    <div class="session-item__buttons">
        <button mat-stroked-button
                color="primary"
                class="session-item__button"
                [disabled]="true"
        >
            {{ 'Watch' }}
        </button>

        <button mat-stroked-button
                [disabled]="conditionToDisableJoin"
                color="primary"
                class="session-item__button"
                (click)="joinGame()"
        >
            {{ 'Join' }}
        </button>
    </div>
</div>
