<app-start-game-menu
    *ngIf="!gameLaunched && !pending"
    (gameDataPrepared)="onGameDataPrepared($event)"
></app-start-game-menu>

<div class="game-wrap">
    <div #gameEntry></div>
</div>

<div class="centered-full-screen" *ngIf="pending">
    <app-loader></app-loader>
</div>

<!--<app-player-list-->
<!--        *ngIf="gameLaunched && session && session.gameMode === 'multiplayer'"-->
<!--        [session]="session"-->
<!--        [user]="gameData.user"-->
<!--&gt;</app-player-list>-->
