<div class="create-new-multi-game" [formGroup]="form">
  <app-box boxTitle="Game settings" [centered]="true">
    <div class="create-new-multi-game__row">

      <div class="create-new-multi-game__left">
        <app-box boxTitle="Privacy" [centered]="true" style="margin-bottom: 10px;">
          <mat-checkbox
            matTooltip="{{ 'You can only connect using ID' }}"
            formControlName="private"
          >
            {{ 'Closed game' }}
          </mat-checkbox>
        </app-box>

        <app-box boxTitle="Maximum number of players">
          <div class="create-new-multi-game__vertical">
            <mat-checkbox
              style="margin-bottom: 8px;"
              checked="checked"
              [disabled]="disabledFields.includes('maxParticipants')"
              (change)="noRestrictionsClicked($event)"
            >
              {{ 'No restrictions' }}
            </mat-checkbox>

            <mat-form-field class="card__input card__input-email">
              <input matInput
                     placeholder="{{ 'Players' }}"
                     autocomplete="off"
                     formControlName="maxParticipants"
              >
            </mat-form-field>
          </div>
        </app-box>
      </div>

      <div class="create-new-multi-game__right">
        <app-box boxTitle="Move order" [centered]="true">

          <mat-form-field>
            <mat-select formControlName="moveOrder">
              <mat-option *ngFor="let option of moveOrderOptions" [value]="option.value">
                {{ option.caption }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </app-box>
      </div>



    </div>

    <button mat-raised-button
            color="primary"
            type="button"
            (click)="submitSettings()"
            [disabled]="form.invalid"
    >
      {{ 'Apply settings' }}
    </button>
  </app-box>
</div>
