<div class="user-profile">
    <app-box [boxTitle]="'Профиль ' + (user.name || 'Anonymous')">
        <form class="user-profile__form" [formGroup]="form">
            <mat-form-field class="user-profile__input">
                <input matInput
                       placeholder="Имя"
                       formControlName="name"
                       autocomplete="off"
                >
                <mat-error *ngIf="form.get('name').invalid">
                    От {{ NAME_MIN_LENGTH }}
                    до {{ NAME_MAX_LENGTH }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="user-profile__input">
                <input matInput
                       placeholder="Почта"
                       formControlName="email"
                       autocomplete="off"
                >
                <mat-error *ngIf="form.get('email').invalid">
                    {{ emailErrorMessage }}
                </mat-error>
            </mat-form-field>

            <button mat-raised-button
                    *ngIf="data.editable"
                    [disabled]="form.pristine || form.invalid"
                    color="primary"
                    class="auth__btn"
                    type="submit"
                    (click)="saveProfile()"
            >
                Сохранить
            </button>
        </form>
    </app-box>
</div>
