@import "mixins";
@import "variables";

$border-color: #808080;

.sapper {
	position: relative;
	background-color: lightblue;
	width: 100%;
	height: calc(100vh - #{$header-height});
	display: flex;
	justify-content: center;
	align-items: center;
}

.sapper__container {
	position: relative;
}

.sapper__game-id {
	border-radius: 5px;
	border: 2px solid black;
	font-size: 18px;
	position: absolute;
	top: -32px;
	width: 100%;
	text-align: center;
	padding: 2px;
	
	span {
		color: #955d00;
	}
}

.sapper__field-wrapper {
	position: relative;
	border: 2px solid black;
	padding: 15px;
	border-radius: $border-radius;
	min-width: 240px;
}

.sapper__top-menu {
	margin: 0 auto 15px auto;
	display: flex;
	max-width: 400px;
	justify-content: space-between;
}

.sapper__counter {
	max-width: 52px;
	width: 52px;
	display: flex;
	justify-content: center;
	font-family: 'Digit', sans-serif;
	background-color: black;
	color: #FF0200;
	font-size: 30px;
	padding: 2px 5px;
}

.sapper__mines-left {

}

.sapper__button {
	position: relative;
	background-color: black;
	padding: 8px;
	color: yellow;
	z-index: 3;
}

.sapper__timer {

}

.sapper__field {
	border: 3px solid $border-color;
}

.sapper__row {
	display: flex;
}

.sapper__sell {
	position: relative;
	cursor: pointer;
	width: 27px;
	height: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	& > div {
		width: 100%;
		height: 100%;
	}
}

.sapper__opened-cell {
	border: 1px solid #969696;
	background-color: #C0C0C0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sapper__closed-cell {
	border-top: 3px solid white;
	border-right: 3px solid #818181;
	border-bottom: 3px solid #818181;
	border-left: 3px solid white;
	background-color: #C1C1C1;
	display: flex;
	justify-content: center;
	align-items: center;
	
	i {
		color: darkgreen;
	}
}

.sapper__number {
	user-select: none;
	font-size: 24px;
	font-weight: bold;
	font-family: Tahoma, Geneva, Verdana;
}

.sapper__flag {
	width: 100%;
	height: 100%;
}

.sapper__mine {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	//background-color: #FF0200;
}

.sapper__mine-img {
	width: 25px;
	height: 25px;
}

.sapper__mistake-flag {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(45deg);
	
	&:before {
		content: '';
		width: 2px;
		height: 100%;
		position: absolute;
		background-color: red;
	}
	
	&:after {
		content: '';
		width: 100%;
		height: 2px;
		position: absolute;
		background-color: red;
	}
}

