<div class="custom-field">
    <form [formGroup]="form" class="custom-field__form">
        <mat-form-field class="custom-field__input">
            <input matInput
                   type="number"
                   placeholder="{{ 'SAPPER_CUSTOM-ROWS' }}"
                   formControlName="rows"
                   autocomplete="off"
                   (input)="onRowsInput($event)"
            >
            <mat-hint align="start">
                {{ 'From' }} 4
                {{ ('To').toLowerCase() }} 16
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="custom-field__input">
            <input matInput
                   type="number"
                   placeholder="{{ 'SAPPER_CUSTOM-COLUMNS' }}"
                   formControlName="columns"
                   autocomplete="off"
                   (input)="onColumnsInput($event)"
            >
            <mat-hint align="start">
                <mat-hint align="start">
                    {{ 'From' }} 9
                    {{ ('To').toLowerCase() }} 40
                </mat-hint>
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="custom-field__input">
            <input matInput
                   placeholder="{{ 'SAPPER_CUSTOM-MINES' }}"
                   formControlName="mines"
                   autocomplete="off"
            >
            <mat-hint align="start">
                {{ 'From' }} 1
                {{ ('To').toLowerCase() }}
                {{ getMaxMines(form.get('rows').value, form.get('columns').value) }}
            </mat-hint>
        </mat-form-field>

        <button mat-raised-button
                [disabled]="form.invalid"
                color="primary"
                class="custom-field__btn"
                type="submit"
                (click)="submitField()"
        >
            {{ 'Create' }}
        </button>
    </form>
</div>
