<div class="message-list" #messagesContainer>
    <div class="message-list__small-loader" *ngIf="showLoader">
        <div class="message-list__small-loader-wrap">
            <app-loader [diameter]="25"></app-loader>
        </div>
    </div>
    <ul class="message-list__wrap" #messagesWrap *ngIf="messages; else loader">
        <li class="message-list__item" *ngFor="let message of messages">
            <app-message
                [user]="user"
                [message]="message"
            ></app-message>
        </li>
    </ul>

    <ng-template #loader>
        <app-loader [@emersionAnimation]></app-loader>
    </ng-template>
</div>
