.message-list {
	height: 420px;
	min-height: 420px;
	max-height: 420px;
	overflow-y: auto;
	
	&__small-loader {
		position: absolute;
		height: 40px;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
		
		&-wrap {
			position: relative;
			width: 25px;
			height: 25px;
			margin: 0 auto;
		}
	}
}

.message-list__wrap {
	padding: 5px 7px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.message-list__item {
	margin-bottom: 5px;
	
	&:last-child {
		margin-bottom: 0;
	}
}


