@import "variables";


.game-list {
	
	padding: 30px 0;
}

.game-list__content {

}

.game-list__list {
	display: flex;
	justify-content: space-between;
}

.game-list__item {
	width: 30%;
	background: white;
	color: black;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: $border-radius;
}

.game-list__title {
	font-weight: bold;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 13px;
}

.game-list__bg-img {
	background: no-repeat center center / cover;
	height: 230px;
	width: 100%;
	cursor: pointer;
}

.game-list__button {
	margin-top: 20px;
	display: block;
	width: 130px;
}
