<section class="game-list">
    <div class="container">
        <div class="game-list__content">
            <ul class="game-list__list" *ngIf="games$ | async as games; else loader">
                <li class="game-list__item card mat-card mat-elevation-z3" *ngFor="let game of games">
                    <div class="game-list__title">
                        {{ game.name }}
                    </div>

                    <div
                            class="game-list__bg-img"
                            [style.backgroundImage]="'url(' + 'data:image/jpeg;base64,' + game.image + ')'"
                            routerLink="/game/{{ game.routeName }}"
                    ></div>

                    <button mat-raised-button
                            class="game-list__button"
                            color="primary"
                            type="button"
                            routerLink="/game/{{ game.routeName }}"
                    >
                        Играть
                    </button>
                    <!--<button mat-raised-button-->
                    <!--class="game-list__button"-->
                    <!--color="primary"-->
                    <!--type="button"-->
                    <!--(click)="blockGame(game)"-->
                    <!--&gt;-->
                    <!--{{ 'Block' | translate:lang }}-->
                    <!--</button>-->
                </li>
            </ul>
        </div>
    </div>

    <ng-template #loader>
        <div [@emersionAnimation]>
            <app-loader [allScreen]="true"></app-loader>
        </div>
    </ng-template>
</section>


