<div class="centered-full-screen">
  <div class="session-list content-border" *ngIf="sessions; else loader">
    <ul class="session-list__list">
      <li class="session-list__item" *ngFor="let session of sessions">
        <app-session-item
          [session]="session"
          [user]="user"
          (joinClicked)="joinSession($event)"
        ></app-session-item>
      </li>
    </ul>

    <span *ngIf="sessions.length === 0">
        {{ 'GAME-LIST_NO-GAMES' }}
    </span>
  </div>

  <ng-template #loader>
    <div [@emersionAnimation]>
      <app-loader></app-loader>
    </div>
  </ng-template>
</div>

