@import "variables";

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: $ff-main;
}

html, body {

}

div, ul, li, p, a, img, button, html, input, form {
  box-sizing: border-box;
  display: block;
}

h1 {

}

h2 {

}

.cdk-global-overlay-wrapper {
	.cdk-overlay-pane {
		position: relative !important;
	}
}

.mat-tab-label {
	height: 35px !important;
	width: 110px !important;
	min-width: 10px !important;
}

.mat-tab-label-content {
	color: rgba(0,0,0,.87);
}

.mat-tab-group {
	z-index: 5;
	background-color: white;
}

