@import "variables";


.container {
	padding: 0 10px;
	width: 1024px;
	margin: 0 auto;
}

.centered-full-screen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - #{$header-height});
	
	&.abs {
		position: absolute;
		top: $header-height;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
