// fonts
$ff-main: 'Fira Sans', sans-serif;;
$ff-main-bold: '';
$ff-main-light: '';


// heights and widths
$header-height: 56px;


// colors
$accent: #c2185b;
$theme-blue: #3f51b5;


// other
$border-radius: 4px;
$chat-border-radius: 15px;

