<div class="centered-full-screen">
    <div class="sapper__startingMenu">
        <div class="sapper__text">
            {{ 'SAPPER_SELECT-DIFFICULTY' }}
        </div>
        <ul class="sapper__list">
            <li class="sapper__item" (click)="chooseField(defaultFields.small)">
                <button mat-raised-button color="primary">
                    {{ 'SAPPER_DIFFICULTY-EASY' }}
                </button>
            </li>
            <li class="sapper__item" (click)="chooseField(defaultFields.medium)">
                <button mat-raised-button color="primary">
                    {{ 'SAPPER_DIFFICULTY-MIDDLE' }}
                </button>
            </li>
            <li class="sapper__item" (click)="chooseField(defaultFields.big)">
                <button mat-raised-button color="primary">
                    {{ 'SAPPER_DIFFICULTY-HARD' }}
                </button>
            </li>
            <li class="sapper__item" (click)="makeFieldMyself()">
                <button mat-stroked-button color="primary">
                    {{ 'SAPPER_SELECT-CUSTOM' }}
                </button>
            </li>
        </ul>
    </div>
</div>
