<div class="app" *ngIf="isLoggedInChecked$ | async; else loader">
    <app-header></app-header>

    <div class="app__content">
        <app-users-list *ngIf="showUsersList"></app-users-list>
        <router-outlet></router-outlet>
    </div>

    <app-chat *ngIf="showChat"></app-chat>
</div>

<ng-template #loader>
    <div [@emersionAnimation] class="preloader-wrap">
        <app-loader diameter="70" strokeWidth="6"></app-loader>
    </div>
</ng-template>

<notifier-container></notifier-container>
