<div class="chat" cdkDrag #chatContainer>
    <div class="chat__header" cdkDragHandle>
        <div class="chat__title">
            Чат
        </div>

        <div class="chat__panel-icons">
            <div class="chat__cross"
                 matTooltip="Скрыть"
                 matTooltipPosition="above"
                 (click)="hideChat()"
            >
                <i class="far fa-window-close"></i>
            </div>
        </div>
    </div>

    <mat-tab-group (selectedIndexChange)="changeTab($event)">
        <mat-tab [label]="tab.title" *ngFor="let tab of tabs">
            <app-message-list
                *ngIf="tab.sessionId === activeTab.sessionId"
                [user]="user"
                [scrollChatToBottom$]="scrollChatToBottom$"
                [messages]="messages"
                (loadMoreMessages)="loadMoreMessages()"
            ></app-message-list>
        </mat-tab>
    </mat-tab-group>

    <app-input-area
        [isThereWaitingMessage]="Boolean(waitingMessage)"
        (send)="sendMessage($event)"
    ></app-input-area>

    <div
        class="chat__return-chat"
        [class.hidden]="!chatHidden"
        [matTooltip]="chatTooltip"
        matTooltipPosition="left"
        [style.pointerEvents]="chatHidden ? 'auto' : 'none'"
        (click)="showChat()"
    >
        <div class="chat__unread-messages">
            <div *ngIf="!amountUnreadMessages">Чат</div>
            <div *ngIf="amountUnreadMessages">Новые:</div>
            <div *ngIf="amountUnreadMessages" class="chat__unread-indicator">
                {{ amountUnreadMessages > 999 ? '999+' : amountUnreadMessages }}
            </div>
        </div>
    </div>
</div>
