<div class="menu mat-card mat-background-accent">
    <div class="menu__title" *ngIf="title">
        {{ title }}
    </div>

    <ng-content></ng-content>

    <button *ngFor="let option of options"
            mat-raised-button
            [disabled]="option.disabled"
            class="menu__button"
            color="primary"
            type="button"
            (click)="chooseOption(option)"
    >
        {{ option.capture }}
    </button>
</div>
