@import "../../../assets/my-styles/variables";


.main-container {
	display: flex;
	justify-content: space-between;
}

.header {
	background-color: $accent;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	padding: 10px 0;
	color: white;
	z-index: 1000;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
}

.header__list {
	display: flex;
}

.header__item {

}

.header__link {
	color: rgba(white, 1);
}

.header__active {
	transition: background-color 0.4s ease;
	background-color: rgba(black, .3);
	color: white;
}

.header__right-elems {
	display: flex;
}

.header__auth {

}

.header__user-button {
	position: relative;
	margin-left: 12px;
}

.user-menu {
	position: absolute;
	right: -20px;
	top: 40px;
	color: black;
	padding: 20px;
	background-color: white;
	border-radius: $border-radius;
	box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	
	&__wrap {
	
	}
	
	&__top {
		display: flex;
	}
	
	&__photo {
		cursor: pointer;
		margin-right: 20px;
	}
	
	&__info-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 2px 0;
	}
	
	&__info {
	
	}
	
	&__name {
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 3px;
	}
	
	&__email {
		color: #666;
		font-size: 13px;
		white-space: nowrap;
	}
	
	&__buttons {
		display: flex;
	}
	
	&__setting-button {
		margin-right: 5px;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	&__input-file {
		display: none;
	}
}
