<nav class="header mat-elevation-z6" id="header">
    <div class="container header__wrapper">
        <ul class="header__list">
            <li class="header__item">
                <a routerLink="/"
                   routerLinkActive="header__active"
                   [routerLinkActiveOptions]="{ exact: true }"
                   mat-button
                   class="header__link">
                    <i class="material-icons">videogame_asset</i>
                    LGames
                </a>
            </li>

            <li class="header__item">
                <a routerLink="/games"
                   mat-button
                   routerLinkActive="header__active"
                   class="header__link"
                >
                    Список игр
                </a>
            </li>
        </ul>

        <div class="header__right-elems">
            <ng-template #notAuthenticated>
                <div class="header__auth">
                    <a routerLink="/auth"
                       mat-button
                       routerLinkActive="header__active"
                       class="header__link"
                    >
                        Вход/Регистрация
                    </a>
                </div>
            </ng-template>

            <div class="header__user-button" *ngIf="user$ | async as user; else notAuthenticated">
                <app-user-photo
                  style="cursor: pointer;"
                  [description]="(user.name || 'Anonymous') + ' | ' + user.email"
                  [photoUrl]="user.photoUrl"
                  [size]="36"
                  (click)="userMenuOpened ? closeUserMenu() : openUserMenu()"
                ></app-user-photo>
                <div class="user-menu" *ngIf="userMenuOpened" #userMenu>
                    <div class="user-menu__wrap">
                        <div class="user-menu__top">
                            <div class="user-menu__photo">
                                <input
                                    #fileInput
                                    class="user-menu__input-file"
                                    type="file"
                                    (change)="onFileInput($event)"
                                >
                                <app-user-photo
                                        [photoUrl]="user.photoUrl"
                                        [shape]="'round'"
                                        [size]="96"
                                        (click)="fileInput.click()"
                                        [bottomLine]="'Изменить'"
                                ></app-user-photo>
<!--                                [bottomLine]="'Change'"-->
                            </div>

                            <div class="user-menu__info-wrap">
                                <div class="user-menu__info">
                                    <div class="user-menu__name">
                                        {{ user.name || 'Anonymous' }}
                                    </div>
                                    <div class="user-menu__email">
                                        {{ user.email }}
                                    </div>
                                </div>

                                <div class="user-menu__buttons">
                                    <div class="user-menu__setting-button">
                                        <button mat-raised-button
                                                color="primary"
                                                type="button"
                                                [disabled]="false"
                                                (click)="goToUserProfile()"
                                        >
                                            Профиль
                                        </button>
                                    </div>

                                    <div class="user-menu__setting-button">
                                        <button mat-button (click)="singOut()">
                                            Выйти
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
