<div class="user-photo"
     [style.width.px]="size"
     [style.minWidth.px]="size"
     [style.height.px]="size"
     [style.minHeight.px]="size"
     [style.border-radius.px]="shape === 'round' ? 100 : 4"
     [matTooltip]="description || name || ''"
>
  <img class="user-photo__image"
       [src]="imageUrl"
       alt="photo"
  >
  <div class="user-photo__bottom-line" *ngIf="bottomLine">
    {{ bottomLine }}
  </div>
</div>
