
.user-photo {
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid black;
	position: relative;
}

.user-photo__image {
	width: 100%;
	height: 100%;
}

.user-photo__bottom-line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: rgba(0, 0, 0, .54);
	font-size: 9px;
	font-weight: bold;
	padding: 7px 0;
	text-align: center;
}
