@import "variables";


.auth {
	height: calc(100vh - #{$header-height});
	display: flex;
	align-items: center;
	
	&__form {
		padding: 20px;
		max-width: 320px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&__tabs {
		display: flex;
	}
	
	&__tab {
		&_active {
			transition: background-color 0.4s ease;
			background-color: rgba(black, .3);
			color: white;
		}
	}
	
	&__title {
		margin-top: 13px;
		text-align: center;
	}
	
	&__controls {
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&__input {
		border-radius: $border-radius;
		border: 1px solid black;
		padding: 8px;
		margin-bottom: 10px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__button {
		margin-top: 20px;
	}
}
