<div class="auth">
    <div class="container">
        <form
            class="auth__form mat-card mat-elevation-z3 mat-background-accent"
            [formGroup]="authForm"
            (ngSubmit)="onSubmit()"
        >
            <div class="auth__tabs">
                <a mat-button
                   [class.auth__tab_active]="isRegisterMode"
                   (click)="isRegisterMode = true; authForm.reset()"
                >
                    Зарегистрироваться
                </a>
                <a mat-button
                   [class.auth__tab_active]="!isRegisterMode"
                   (click)="isRegisterMode = false; authForm.reset()"
                >
                    Войти
                </a>
            </div>

            <h2 class="auth__title">
                {{ isRegisterMode ? 'Регистрация' : 'Вход' }}
            </h2>

            <div class="auth__controls">
                <mat-form-field>
                    <input matInput
                           placeholder="Email"
                           autocomplete="off"
                           formControlName="email"
                    >
                </mat-form-field>
                <mat-form-field>
                    <input matInput
                           placeholder="Пароль"
                           autocomplete="off"
                           formControlName="password"
                           type="password"
                    >
                </mat-form-field>
            </div>

            <button mat-raised-button
                    [disabled]="authForm.invalid"
                    class="auth__button"
                    color="primary"
                    type="submit"
            >
                {{ isRegisterMode ? 'Зарегистрироваться' : 'Войти' }}
            </button>
        </form>
    </div>
</div>
