@import "../../../../assets/my-styles/variables";


.loader {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(white, .7);
  position: absolute;
  z-index: 1000;
}

.loader__all-screen {
  position: fixed;
  height: calc(100vh - #{$header-height});
  margin-top: $header-height;
}
